/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f9fc;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

/* Main app container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 40px;
}

.page-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


/* Header */
.App-header {
  /* background-color: #3e4c59; */
  background-color: #2d0303;
  padding: 30px 20px;
  color: white;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

/* Search input and button */
input {
  padding: 12px 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  border: 2px solid #ddd;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #b03b3b;
  box-shadow: 0 4px 12px rgba(92, 107, 192, 0.3);
}

button {
  padding: 12px 20px;
  margin-top: 15px;
  background-color: #960808;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #820202;
  transform: translateY(-2px);
}

/* Dictionary container layout */
/* .dictionary-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
} */

.dictionary-container {
  width: 100%;
  padding: 0 20px;
}


/* Individual card styling */
/* .card {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
} */

.full-card {
  width: 100%;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
}

.full-card h3 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.full-card p {
  font-size: 1.1rem;
  color: #333;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* .card h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #3e4c59;
  font-weight: 600;
}

.card p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
} */

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .App-header {
    padding: 20px;
  }

  .dictionary-container {
    padding: 10px;
  }

  input {
    max-width: 100%;
  }
}


